<footer class="bg-cover">
  <div class="footer-top">
    <div class="container ">
      <div class="row gy-4">
        <div class="col-lg-4  ">
          <a class="navbar-brand " href="{% url 'home' %}">
            <img src="/static/images/irina-biswas-crispy-logo.jpg" class="logo-navbar mb-4">
          </a>
          <p>Indulge in culinary delights at our restaurant, where flavors come to life. Experience a delectable journey with us.</p>
          <div class="social-links">
            <a href=""><i class="ri-facebook-circle-fill"></i></a>
            <a href=""><i class="ri-instagram-fill"></i></i></a>
            <a href=""><i class="ri-google-fill"></i></i></a>
          </div>             
        </div>

        <div class="col-lg-3 ms-auto ">
          <h3 class="text-white mb-4">Navigations</h3>
          <h4><a href="{% url 'home' %}" class="text-white h4 mb-2">Home</a></h4>
          <h4><a href="{% url 'about' %}" class="text-white mb-2">About</a></h4>
          <h4><a href="{% url 'menu' %}" class="text-white h4 mb-2">Menu</a></h4>
          <h4><a href="{% url 'features' %}" class="text-white h4 mb-2">Features</a></h4>
          <h4><a href="{% url 'reservation' %}" class="text-white h4">Reservation</a></h4>
          
        </div>

        <div class="col-lg-3 ms-auto">
          <h3 class="text-white mb-4">Contacts</h3>
          <p class="mb-2">+ 91 9790124534</p>
          <p class="mb-2">Email:Abiaadesh29@gmila.omc</p>
          <p class="mb-0">Get in touch with us for reservations, inquiries, or special requests. Our team is here to make your dining experience exceptional</p>
        </div>

        <div class="col-lg-3">
          <h3 class="text-white mb-4">Opening Hours</h3>
          <p class="mb-2">12 am to 12 pm</p>
          <p class="mb-0">Business Hours</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row gy-3 justify-content-between">
        <div class="col-auto">
          <p class="mb-0">Copyrights Restaurant © 2023.  all rights reserved</p>
        </div>
        <div class="col-auto">
          <p class="mb-0">Designed By <a>Aadesh</a></p> 
        </div>
      </div>
    </div>
  </div>
</footer>