<!DOCTYPE html>  

{% load static %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '../static/styles/test.css' %}"/>
  </head>
  <body>
    <div class="querry-container" >
      <div class="row">
        <div class="col-12 intro-text">
          <h1 class="querry-text" data-aos="fade-down">FOR ANY QUERRIES</h1>
          <div style="display:flex; justify-content:center;align-items:center;padding-top:20px;" data-aos="fade-up" data-aos-duration="1250"> 
            <img src="/static/images/phone-call (1).svg" style="height: 50px; width: 50px; object-fit: contain;">
            <div class="querry-text" style="font-size: 50px;"> : </div>
            <a class="querry-text call" style="font-size: 50px;" href="tel:+91 9790123534">+91 9790124534</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>