{% extends 'main.html' %}

{% block content %}


<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Aadesh Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}"/>

  </head>
  <body>
    <div id="hero" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item text-center slide-1 vh-100 active" style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/static/image/s6.jpg);   background-repeat: no-repeat;
        background-position:cover;
        background-size: cover;">
          <div class="container h-100 d-flex align-items-center justify-content-center">
            <div class="row justify-content-center">
              <div class="col-lg-8"  data-aos="fade-down" >
                <h1 class="display-1 fw-bold text-white">ABOUT</h1>
                <h6 class="fw-bold text-white" data-aos="fade-up" data-aos-duration="1250" >Here Are Things You Didn't Know About Us..!!</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="about">
      <div class="container gy-4 ">
        <div class="row gy-4 align-items-center justify-content-between">
          <div class="col-lg-5" data-aos="fade-right"  >
            <img src="/static/image/a1(or).jpg" class="logo-about" alt="">            
          </div>
          <div class="col-lg-5" data-aos="fade-left" data-aos-delay="50">
            <h1>About us</h1>
            <div class="divider my-4"></div>
            <p>Welcome to (CitySkies), where culinary excellence meets warm hospitality. Nestled in the heart of (Nyc), our story is one of passion for food and a commitment to creating memorable dining experiences.</p>

            <p>Our journey began with a vision to craft a menu that celebrates the finest local and international flavors, prepared with the utmost care and creativity. Every dish that leaves our kitchen is a work of art, designed to tantalize your taste buds and leave you craving for more.</p>
              
            <p>Join us and be part of our story – a story of flavors, laughter, and togetherness. Experience the essence of culinary magic at [Restaurant Name], where every meal is a chapter in the tale of unforgettable dining."</p>
              
              
            <a href="{% url 'menu' %}" class="btn btn-brand">Explore Menu</a>
          </div>
          </div>
        </div>
      </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration:1000,
        delay:75,
        once:true
      });
    </script>
  </body>
</html>

{% endblock %}